.header {
  h1 {
    font-variant: small-caps;
    font-weight: lighter;
    border: 2px solid #ffffff;
    letter-spacing: 4px;
    font-size: 35px;
    margin: 0;
  }
}

.slogan {
  padding-left: 1rem;
  color: #6b6b6b;
  font-size: 18px;
}
